.card-header {
    background-color: #4197CD;
    color: white;
}

.event-headline {
    background-color: #4197CD;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

.card-text {
    white-space: pre-wrap;
}