<div class="container">
    <div class="row mt-2">
            <div class="col-12 col-lg-6">
                    <h4>Welcome to Boston's Ward 10</h4>
                    <p>We're delighted that you're looking for us.
                         You can sign up for our email list or find some of our events around the city. 
                         You can even look up your polling location at link above.
                    </p>            
                    <p>
                        <i>Please note we will only 
                            email you about specific events and information related to Boston's Ward 10. 
                        </i>
                    </p>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group row">
                        <label class="col-xs-3 col-lg-2"for="name">Name</label>
                        <input class="form-control col-xs-9 col-lg-10" type="text" id="name" placeholder="Full name here..." required/>
                    </div>
                    <div class="form-group row">
                            <label class="col-xs-3 col-lg-2"for="email">Email</label>
                            <input class="form-control col-xs-9 col-lg-10" type="email" id="email" placeholder="JD@etc.com" required/>
                    </div>
                    <div class="form-group row">
                            <label class="col-xs-3 col-lg-2"for="address">Address</label>
                            <input class="form-control col-xs-9 col-lg-10" type="text" id="address" placeholder="123 parker st"/>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-3 col-lg-2"for="zipcode">Zipcode</label>
                        <input class="form-control col-xs-9 col-lg-10" type="number" id="zipcode" placeholder="02115"/>
                    </div>
                    <button type="submit" class="btn btn-primary my-1">Submit</button>
                </form>
            </div>        
    </div>
</div>

