<h3 class="pl-1 mx-lg-5 mt-3 event-headline rounded">What is a Ward committee?</h3>
<div class="container">
  <div class="row mx-lg-5 mt-2">
    <h6><b>What is a Ward?</b></h6>
    <p>In Massachusetts, a “ward” is an official geographic unit (similar to a “county”) within a city or town to help
      officials manage elections.</p>
    <h6><b>Massachusetts Democratic Ward Committees</b></h6>
    <ul>
      <li>For the Massachusetts Democratic party, people who live within the same ward (or town) come together to
        promote the values, candidates, and priorities of the state (and national) Democratic Party to their neighbors —
        this group is called the Ward (or Town) Committee, and is elected every 4 years on Democratic voting ballots
      </li>
      <li>At the annual Massachusetts State Democratic Party’s conventions (which are just large events), people
        nominated by the Ward or Town Committees provide inputs and opinions about statewide policy priorities, and
        approve candidates to be listed on the ballot as “Democrat”</li>
      <li>The process to nominate people as delegates to the statewide convention is known as a “convention caucus”</li>
    </ul>
    <p>You can learn more about the purpose and power of a Democratic Ward Committee from an <a
        href="https://whatsupeastie.com/2020/02/26/what-the-heck-is-a-ward-committee/">interview on East Boston’s
        Zumix radio show</a></p>
    <h6><b>Boston Ward 10 Democratic Committee</b></h6>
    <p>Wards are not always drawn along neighborhood boundaries within cities and towns; Boston’s Ward 10 includes parts
      of Mission Hill, Roxbury, and Jamaica Plain.</p>
    <img src="../assets/images/ward10map.png" alt="democratic party" />
    <p>Boston’s Ward 10 meets regularly to discuss important issues with local elected officials, and hosts events to
      educate the public about upcoming elections.</p>
    <p>Everyone is welcome to join <a href="https://ward10dems.org/events">public Ward 10 events</a>. You can attend and
      be nominated as a delegate to the state convention even if you are not a voting member of the Ward Committee.</p>
    <h6>If any of this sounds enjoyable to you</h6>
    <ul>
      <li>help interpret Democratic values through the everyday issues that are most important to you at the local level
      </li>
      <li> work with neighbors to advocate for changes in government through legislation and representing a source of
        truth
      </li>
      <li>meet your neighbors to form friendships and help make your community a great place to live that you are proud
        of</li>
    </ul>
    <p>please reach out about joining the Boston Ward 10 Democratic Committee as a voting member! We will let you know
      if there are open seats, and the requirements and process for joining the Ward 10 Committee.</p>
  </div>
</div>