<h3 class="pl-1 mx-lg-5 mt-3 event-headline rounded">What is a Ward committee?</h3>
<div class="container">
  <div class="row mx-lg-5 mt-2">
    <p>
      The <a href="https://massdems.org/your-party/town-and-ward-committees/" target="_blank">Democratic Ward
        Committee</a> is
      considered the local grassroots representation of the Democractic party. As a
      ward committee member you are meant to participate in our democractic process. That means forming the state
      party's priority list at the local Democratic conventions. Perhaps organizing voter registration events and taking
      the pulse of the neighborhood for the Democratic party.
    </p>
    <p>
      This is your opportunity to form the core values of the democratic party from the ground level. Often wards will
      come together to advocate for legislation, organize with neighbors to reach out to legislators to push for changes
      in government, and be seen as a source of truth for the community. There is also a strong sense of community built
      within the committee. You will often interact with neighbors whom you might not have met prior to joining the
      ward. Often the bonds you create by being a member of the committee will extend further into your life.
    </p>
    <p>
      All are welcome to join our publicly posted meetings (see events). To become a voting member and see your voice
      heard in our democratic process you must become an official member, which means you will need to have your voting
      party affliation be Democrat and be either voted in or recommended by the membership committee. If you're
      interested in joining our Committee please reach out via email at the link above. For a fun podcast about what a
      ward does please visit <a href="https://whatsupeastie.com/2020/02/26/what-the-heck-is-a-ward-committee/"
        target="_blank">whatsupeastie.com</a>
    </p>
  </div>
</div>