<header>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/wardicon.png" width="60" height="50" alt="democratic party">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="membership" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="events" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Events</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto flex-row">
        <li class="nav-item">
          <a class="nav-link" >
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-sm-1" >
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-sm-1" >
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>